@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("/fonts/PPEditorialNew-UltraboldItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
